
Creación del Entorno Conda
Crea un entorno Conda llamado proyectogit con Python 3.12:

conda create --name proyectogit python=3.12

Activa el entorno proyectogit:

conda activate proyectogit


Instalación de Paquetes

Una vez activado el entorno, instala los siguientes paquetes necesarios para el proyecto:

Instala pandas y scikit-learn:

pip install pandas scikit-learn

Instala pyarrow:

pip install pyarrow

Instala matplotlib:

pip install matplotlib

Instala seaborn para visualizaciones adicionales:

pip install seaborn

Ejecución del Proyecto

(proyectogit) C:\Users\migue\OneDrive\Documentos\GitHub\Test_taxis>python manage.py
